/*----------------------
  General-Layout
-----------------------*/
.web-inner {
  margin 0 auto
  max-width 1050px
  width 100%
  height 100%
  padding 0 1rem
}

body {
  background #fff
}

.justify-text {
  text-align justify!important
}

.no-visible {
  display none!important
}

/*----------------------
  Vistas generales
-----------------------*/
.view-header {
  display flex
  align-items flex-end
  justify-content center
  margin 2rem 0
  flex-direction column
}
t
.center-icon {
  display flex
  align-items center!important
  justify-content center!important
}