.drawer-header {
  display flex
  justify-content center
  align-items center
  margin 0rem 0
  height 100px

  &__logo {
    display flex
    width 100%
    align-items center
    justify-content center
    flex-direction column
  }

  &__img {
    width 50px!important
    height auto
    margin 10px
  }
}

.center-icon {
  display flex
  align-items center!important
  justify-content center!important
}
