.slide {
  display flex
  align-items center
  justify-content center
  height 70vh

  @media (min-width 900px) {
    height 50vh
  }

  &__content {
    display flex
    flex-direction column
    align-items flex-start
    justify-content flex-end
    height 100%
  }
}
